[Unit]
Description=Root Resize Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/etc/init.d/rootresize

[Install]
WantedBy=multi-user.target
